@section Scripts{
    <script src="~/js/usuario.js"></script>
}


@model EcommerceNexo.Models.UsuarioViewModel

<h2>Usuários</h2>

<form id="frmFilter" class="mb-3 row g-2">
    <div class="col-auto">
        <input type="text" id="nome" value="@Model.Nome" placeholder="Nome" class="form-control" />
    </div>

    <div class="col-auto">
        <input type="text" id="email" value="@Model.Email" placeholder="Email" class="form-control" />
    </div>

    <div class="col-auto">
        <select id="perfil" class="form-select">
            <option value="">Todos</option>
            <option value="cliente" selected="@(Model.Perfil == "cliente")">Cliente</option>
            <option value="admin" selected="@(Model.Perfil == "admin")">Administrador</option>
        </select>
    </div>

   @*  <div class="col-auto">
        <button type="submit" class="btn btn-primary">Filtrar</button>
    </div> *@
</form>

<div id="usuariosTable">
    @await Html.PartialAsync("_UsuariosTable", Model.Usuarios)
</div>