@section Styles{
    <link href="~/css/register.css" rel="stylesheet"/>
}

@section Scripts{
    <script src="~/js/auth.js"></script>
}

<div>
    <h2>Criar Conta</h2>
    <form id="frmRegister">
        <div>
            <label for="nome" class="form-label">Nome</label>
            <input id="nome" class="form-control" type="text"/>
            <div id="txtFeedbackNome" class="invalid-feedback"></div>
        </div>
        <div>
            <label for="email" class="form-label">Email</label>
            <input id="email" class="form-control" type="text" />
            <div id="txtFeedbackEmail" class="invalid-feedback"></div>
        </div>
        <div>
            <label for="senha" class="form-label">Senha</label>
            <input id="senha" class="form-control" type="password"/>
            <div id="txtFeedbackSenha" class="invalid-feedback"></div>
        </div>
        <div>
            <label for="confirmacaoSenha" class="form-label">Confirmar Senha</label>
            <input id="confirmacaoSenha" class="form-control" type="password"/>
            <div id="txtFeedbackConfirmacaoSenha" class="invalid-feedback"></div>
        </div>

        <button id="btnCadastrar" class="btn btn-success" type="submit" >Confirmar</button>
    </form>
</div>